{% extends 'app/base.html' %}
{% load static %}
{% block title %}Topwears{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
  <div class="col-sm-3">
      <div class="list-group">
          <a href="{% url 'topwear' %}" class="list-group-item list-group-item-action" aria-current="true">All Topwear</a>
          <a href="{% url 'topweardata' 'HRX' %}" class="list-group-item list-group-item-action"
          aria-currents="true">HRX</a> 
          <a href="{% url 'topweardata' 'Polo' %}" class="list-group-item list-group-item-action"
          aria-currents="true">Polo</a>
          <a href="{% url 'topweardata' 'Park' %}" class="list-group-item list-group-item-action"
          aria-currents="true">Park</a>
  </div>
</div>
  <div class="col-sm-8">
      <div class="row">
          {% for product in topwears %}
          <div class="col-sm-4 text-center mb-4">
              <a href="{% url 'product-detail' product.id %}" class="btn">
                  <div class="item">
                      <img src="{{product.product_image.url}}" alt="" height="300" class="">
                      <div class="fw-bold">{{product.title}}</div>
                      <div class="fw-bold">Rs. {{product.discounted_price}}
                      <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                  </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main-content %}